@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightgrey: #F5F5F5;
  --lightbonusred: #EE2F4F;
  --bonusred: #C8102E;
  --darkbonusred: #970C23;
  --bonusgreen: #2EC810;
  --darkbonusgreen: #23970C,
  --bonusgold: #FFD700;
  --paragraphgray: #71717a;
  --stoneblack: #1F1F1F;

}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}


body {

}

/* making bonusglow animation, apply these styles when want to be used */
.button-move-glow {
  animation: move-shadow 20s ease-in-out infinite;
}

@keyframes move-shadow {
  0%, 100% {
    box-shadow: 0 8px 8px rgba(200, 16, 46, 0.6);
  }
  15% {
    box-shadow: 5px 3px 12px rgba(200, 16, 46, 0.6);
  }
  20% {
    box-shadow: 8px 0 12px rgba(200, 16, 46, 0.6);
  }
  35% {
    box-shadow: 2px -7px 12px rgba(200, 16, 46, 0.6);
  }
  40% {
    box-shadow: 0 -8px 12px rgba(200, 16, 46, 0.6);
  }
  55% {
    box-shadow: -7px 1px 12px rgba(200, 16, 46, 0.6);
  }
  60% {
    box-shadow: -8px 0 12px rgba(200, 16, 46, 0.6);
  }
  75% {
    box-shadow: 6px 7px 12px rgba(200, 16, 46, 0.6);
  }
  80% {
    box-shadow: 4px 8px 12px rgba(200, 16, 46, 0.6);
  }
  95% {
    box-shadow: -4px 6px 12px rgba(200, 16, 46, 0.6);
  }
}

/* bonusglow animation ends here */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
